<div id="new-violation_">
    <div id="violation-info" class="block">
        <div class="header">
            Регистрация технологического нарушения
            <button class="red right" ng-click="cancel()" ng-disabled="violations.getNew()._states_.loading() === true">
                <span class="fa fa-ban"></span>&nbsp;
                Отмена
            </button>
            <button class="green right margin-right-10" ng-click="add()" ng-disabled="violations.getNew()._states_.loading() === true">
                <span class="fa fa-plus"></span>&nbsp;
                Сохранить
            </button>
        </div>
        <div class="content">

            <div class="row padding-10">
                <label class="width-100" for="add-time">
                    Дата и время добавления ТН
                </label>
                <div class="width-100">
                    <input type="text"
                           name="add_time"
                           id="add-time"
                           class="width-100"
                           ng-model="now"
                           disabled
                    style="text-align: center;">
                </div>
            </div>

            <div class="row width-100 padding-10">
                <div class="width-80">
                    <label class="width-100" for="new-violation-date">
                        Дата и время ТН
                    </label>
                    <input type="text"
                           name="date"
                           id="new-violation-date"
                           class="width-100 text-center"
                           ui-date-time-picker
                           date-time-picker-id="new-violation-date"
                           date-time-picker-max-date="today"
                           date-time-picker-modal="1"
                           date-time-picker-format="DD MMMM YYYY"
                           date-time-picker-on-select="selectStartDate"
                           ng-model="violations.getNew().happened.value">
                </div>
                <div class="width-20">
                    <!--<label for="new-violation-time" class="width-90 right">&nbsp;</label>-->
                    <!--
                    <input type="text"
                           name="time"
                           id="new-violation-time"
                           class="width-80 right text-center"
                           ng-model="violations.getNew().happened.value"
                           ui-time-input>
                    -->
                    <!--<ui-time-picker class="width-80 right" ng-model="violations.getNew().happened.value"></ui-time-picker>-->
                    <!--
                    <div class="width-90 right" id="new-violation-time">
                        <input type="number" name="time_hours" id="new-violation-hours" min="0" max="23" class="width-45 text-center" ng-model="hours" ng-change="onHoursChange()">
                        <span class="width-10 text-center time-separator">:</span>
                        <input type="number" name="time_minutes" id="new-violation-minutes" min="0" max="59" class=" width-45 text-center" ng-model="minutes" ng-change="onMinutesChange()">
                    </div>
                    -->

                    <label for="new-violation-time" class="width-90 right">&nbsp;</label>
                    <time-input id="new-violation-time"
                                ng-model="violations.getNew().happened.value">
                    </time-input>
                </div>

            </div>

            <!--<div class="width-10 text-center mdash">&mdash;</div>-->

            <div class="row width-100 padding-10" ng-show="violations.getNew().isNotFixed.value === false">
                <div class="width-80">
                    <label class="width-100" for="new-violation-end-date">
                        Дата и время устранения
                        <span class="right form-error" ng-show="errors.ended !== undefined">{{ errors.ended }}</span>
                    </label>
                    <input type="text"
                           name="date"
                           id="new-violation-end-date"
                           class="width-100 text-center"
                           ui-date-time-picker
                           date-time-picker-id="new-violation-end-date"
                           date-time-picker-max-date="today"
                           date-time-picker-modal="1"
                           date-time-picker-format="DD MMMM YYYY"
                           date-time-picker-on-select="selectEndDate"
                           ng-model="violations.getNew().ended.value">
                </div>
                <div class="width-20">
                    <!--
                    <label for="new-violation-end-time" class="width-90 right">&nbsp;</label>
                    <div class="width-90 right" id="new-violation-end-time">
                        <input type="number" name="time_hours" id="new-violation-end-hours" min="0" max="23" class="width-45 text-center" ng-model="endHours" ng-change="onEndHoursChange()">
                        <span class="width-10 text-center time-separator">:</span>
                        <input type="number" name="time_minutes" id="new-violation-end-minutes" min="0" max="59" class=" width-45 text-center" ng-model="endMinutes" ng-change="onEndMinutesChange()">
                    </div>
                    -->

                    <label for="new-violation-end-time" class="width-90 right">&nbsp;</label>
                    <time-input id="new-violation-end-time"
                                ng-model="violations.getNew().ended.value">
                    </time-input>
                </div>
            </div>


            <div class="row padding-10">
                <div class="width-100">
                    <span class="left">Технологическое нарушение еще не устранено</span>
                    <input type="checkbox"
                           name="not_fixed"
                           id="current-violation-is-not-fixed"
                           class="right"
                           ng-change="violations.getNew()._states_.changed(true); setViolationFixed()"
                           ng-model="violations.getNew().isNotFixed.value">
                </div>
            </div>



            <div class="row padding-10">
                <label class="width-100" for="violations-tree">
                    Структурное подразделение
                    <span class="right form-error" ng-show="errors.divisionId !== undefined">{{ errors.divisionId }}</span>
                </label>
                <div class="width-90">
                    <input type="text"
                           name=""
                           id=""
                           class="width-100"
                           ng-model="divisions.getById(violations.getNew().divisionId.value).shortTitle.value"
                           ng-change="$violations.getNew()._states_.changed(true)"
                           disabled>
                </div>
                <div class="width-10">
                    <button class="width-100 blue" ng-click="openSelectDivisionModal()">
                        <span class="fa fa-building"></span>
                    </button>
                </div>
            </div>

            <div class="row padding-10">
                <label class="width-100" for="new-violation-esk-group">
                    Група ЭСК
                    <span class="right form-error" ng-show="errors.eskGroupId !== undefined">{{ errors.eskGroupId }}</span>
                </label>
                <select class="width-100"
                        name="esk_group"
                        id="new-violation-esk-group"
                        ng-model="violations.getNew().eskGroupId.value"
                        ng-options="group.id.value as group.title.value for group in misc.eskGroups.getAll()"
                        ng-change="$violations.getNew()._states_.changed(true)">
                </select>
            </div>

            <div class="row padding-10">
                <label class="width-100" for="new-violation-esk-object">
                    Объект ЭСК
                    <span class="right form-error" ng-show="errors.eskObject !== undefined">{{ errors.eskObject }}</span>
                </label>
                <input class="width-100"
                       type="text"
                       name="esk_object"
                       id="new-violation-esk-object"
                       ng-model="violations.getNew().eskObject.value"
                       ng-change="$violations.getNew()._states_.changed(true)"
                       placeholder="Укажите объект, на котором произошло ТН">
            </div>

            <div class="row padding-10">
                <label class="width-100" for="new-violation-comment">
                    Описание
                    <span class="right form-error" ng-show="errors.description !== undefined">{{ errors.description }}</span>
                </label>
                <textarea class="width-100"
                          name="comment"
                          id="new-violation-comment"
                          cols="30"
                          rows="10"
                          ng-model="violations.getNew().description.value"
                          ng-change="$violations.getNew()._states_.changed(true)"
                          placeholder="Укажите описание ТН">
                </textarea>
            </div>
        </div>
    </div>
    <div id="violation-documents" class="block">
        <div class="header">
            Документы
            <label for="userfile" class="button blue right" ng-show="isUploadInProgress === false">
                <span class="fa fa-upload"></span>&nbsp; Загрузить файл
                <input
                        type="file"
                        name="userfile[]"
                        enctype="multipart/form-data"
                        multiple
                        id="userfile"
                        accept="image/*,video/*,application/pdf,application/msword,application/msword,application/excel,application/vnd.ms-excel,application/x-excel,application/x-msexcel,application/excel,application/x-excel,application/excel,application/x-excel,application/x-compressed,application/x-zip-compressed,application/zip,multipart/x-zip,application/rtf,application/x-rtf,text/richtext,text/plain,application/plain,multipart/x-gzip,application/x-gzip"
                        ng-disabled="isUploadComplete === false"
                        uploader
                        uploader-url="{{ uploaderLink }}"
                        uploader-data="uploaderData"
                        uploader-on-before-upload="onBeforeUploadAttachment"
                        uploader-on-complete-upload="onCompleteUploadAttachment"/>
            </label>
            <div class="upload-progress">
                <span class="fa fa-spinner fa-pulse fa-fw" ng-show="isUploadInProgress === true"></span>
                <span ng-show="isUploadInProgress === true">Файл загружается...</span>
            </div>
        </div>
        <div class="content">
            <div class="width-100 padding-30 margin-bottom-10 text-center" ng-show="violations.attachments.getNew().length === 0">
                Документы отсутствуют
            </div>

            <table id="new-violation-files" class="stripped width-100" ng-show="violations.attachments.getNew().length > 0">
                <thead>
                <tr>
                    <th class="width-80">Наименование</th>
                    <th class="width-20">Размер</th>
                </tr>
                </thead>
                <tbody>
                <tr class="attachment" ng-repeat="attachment in violations.attachments.getNew() track by $index">
                    <td class="width-80 attachment-loaded">
                        <button class="red small" title="Удалить файл" ng-show="attachment.isInAddMode === true" ng-click="deleteAttachment(attachment.id.value)">
                            <span class="fa fa-times"></span>
                        </button>&nbsp;
                        <a ng-href="{{attachment.url.value}}" target="_blank">{{ attachment.title.value }}</a>
                    </td>
                    <td class="width-20 attachment-loaded">{{ attachment.size.value | filesize }}</td>
                    <td class="attachment-message">
                        <span class="fa fa-check-circle"></span> &nbsp; Файл загружен
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



 <div ui-modal modal-id="new-violation-division-modal" modal-caption="Выберите структурное подразделение" modal-width="450" modal-height="300">
     <div class="row padding-10">
         <ui-tree id="new-violation-tree" class="stacked" root-key="0" root-key-data-type="DATA_TYPE_INTEGER"></ui-tree>
     </div>

     <ui-modal-footer height="45">
         <div class="row padding-5">
             <button class="width-33 blue right" ng-disabled="violations.getNew().divisionId.value === 0" ng-click="modals.close()">
                 Выбрать
             </button>
         </div>
     </ui-modal-footer>
 </div>


