<div id="left-column">

    <div id="divisions" class="block">
        <div class="header">
            Структурные подразделения
        </div>
        <div class="content padding-10">
            <ui-tree id="session-divisions-tree"
                     class="stacked"
                     root-key="0"
                     root-key-data-type="DATA_TYPE_INTEGER"
                     expand-on-select="1">
            </ui-tree>
        </div>
    </div>

</div>





<!--
<div id="filter" class="block">
    <div class="header">
        Фильтр по дате нарушения
    </div>
    <div class="content padding-10">
        <div class="row">
            <div class="width-45">
                <label for="filter-start-date">Начальная дата</label>
                <input type="text"
                       name="start_date"
                       id="filter-start-date"
                       class="width-80 text-center"
                       ng-class="{ 'width-80': violations.violations.startDate !== 0, 'width-100': violations.violations.startDate === 0, 'no-date': violations.violations.startDate === 0 }"
                       ng-model="violations.violations.startDate"
                       ui-date-time-picker
                       date-time-picker-id="violations-start-date"
                       date-time-picker-max-date="today"
                       date-time-picker-modal="1"
                       date-time-picker-no-value="Не задана"
                       date-time-picker-on-select="selectStartDate">
                <button class="blue width-20" title="Очистить начальную дату" ng-show="violations.violations.startDate !== 0" ng-click="clearStartDate()">
                    <span class="fa fa-times"></span>
                </button>
            </div>

            <div class="width-10 text-center mdash">&mdash;</div>

            <div class="width-45">
                <label for="filter-end-date">Конечная дата</label>
                <input type="text"
                       name="end-date"
                       id="filter-end-date"
                       class="text-center"
                       ng-class="{ 'width-80': violations.violations.endDate !== 0, 'width-100': violations.violations.endDate === 0, 'no-date': violations.violations.endDate === 0 }"
                       ng-model="violations.violations.endDate"
                       ui-date-time-picker
                       date-time-picker-id="violations-end-date"
                       date-time-picker-max-date="today"
                       date-time-picker-modal="1"
                       date-time-picker-no-value="Не задана"
                       date-time-picker-on-select="selectEndDate">
                <button class="blue width-20" title="Очистить конечную дату" ng-show="violations.violations.endDate !== 0" ng-click="clearEndDate()">
                    <span class="fa fa-times"></span>
                </button>
            </div>
        </div>
    </div>
</div>
-->




<div id="violations" class="block">

    <div class="row">

        <div class="width-15 padding-10 block-caption-title">Нарушения</div>

        <div class="width-55 padding-10">
            <button class="blue"
                    ng-class="{ 'pressed': violations.violations.filter.enabled() === true }"
                    ng-click="violations.violations.filter.enabled(!violations.violations.filter.enabled())"
                    title="Поиск и фильтры">
                <span class="fa fa-filter"></span>
            </button>&nbsp;
            <span class="filter-label" ng-show="violations.violations.filter.startDate !== 0 && violations.violations.filter.endDate === 0">
                с {{ violations.violations.filter.startDate | dateShort }} &nbsp;
                <span class="fa fa-times"
                      title="Отменить фильтр"
                      ng-click="cancelStartDate()">
                </span>
            </span>
            <span class="filter-label" ng-show="violations.violations.filter.startDate === 0 && violations.violations.filter.endDate !== 0">
                по {{ violations.violations.filter.endDate | dateShort }} &nbsp;
                <span class="fa fa-times"
                      title="Отменить фильтр"
                      ng-click="cancelEndDate()">
                </span>
            </span>
            <span class="filter-label" ng-show="violations.violations.filter.startDate !== 0 && violations.violations.filter.endDate !== 0">
                с {{ violations.violations.filter.startDate | dateShort }} по {{ violations.violations.filter.endDate | dateShort }} &nbsp;
                <span class="fa fa-times"
                      title="Отменить фильтр"
                      ng-click="cancelBothDates()"></span>
            </span>
            <span class="filter-label" ng-show="violations.violations.filter.eskGroupId !== 0">
                {{ misc.eskGroups.getById(violations.violations.filter.eskGroupId).title.value }} &nbsp;
                <span class="fa fa-times" title="Отменить фильтр" ng-click="violations.violations.filter.cancelEskGroup()"></span>
            </span>
        </div>

        <div class="width-30 padding-10">
            <button class="blue right" ng-click="gotoNewViolation()">
                <span class="fa fa-plus"></span> Добавить нарушение
            </button>
        </div>
    </div>

    <!--
    <div class="header">
        Нарушения &nbsp;

        <button class="blue" ng-class="{ 'pressed': filters.enabled() === true }" ng-click="filters.enabled(!filters.enabled())">
            <span class="fa fa-filter"></span>
        </button>

        <button class="blue right" ng-click="gotoNewViolation()">
            <span class="fa fa-plus"></span> Добавить нарушение
        </button>
    </div>
    -->
    <div class="content">

        <div class="row" id="filters" ng-show="violations.violations.filter.enabled() === true">

            <div class="row filter-tabs">
                <div class="filter-tab" ng-class="{ active: filters.filterByNumber() === true }" ng-click="filters.filterByNumber(true)">Поиск по # нарушения</div>
                <div class="filter-tab" ng-class="{ active: filters.filterByDate() === true }" ng-click="filters.filterByDate(true)">Фильтр по дате нарушения</div>
                <div class="filter-tab" ng-class="{ active: filters.filterByEskGroup() === true }" ng-click="filters.filterByEskGroup(true)">Фильтр по группе ЭСК</div>
            </div>


            <div class="row filter-content" ng-show="filters.filterByNumber() === true">
                <form>
                    <input type="text"
                           name=""
                           id=""
                           class="width-95"
                           ng-class="{ 'width-100': violations.violations.filter.violationId === '' && violations.violations.filter.isIdSent() === false, 'width-95': violations.violations.filter.isIdSent() === true  }"
                           placeholder="Введите # технологического нарушения"
                           ng-model="violations.violations.filter.violationId"
                           ng-change="onChangeViolationId()">
                    <button class="green width-5"
                            title="Начать поиск"
                            ng-show="violations.violations.filter.violationId !== '' && violations.violations.filter.isIdSent() === false"
                            ng-click="searchViolationById()"
                            ng-disabled="violations.violations.loading() === true">
                        <span class="fa fa-search"></span>
                    </button>
                </form>

                <button class="blue width-5"
                        title="Очистить # ТН"
                        ng-show="violations.violations.filter.isIdSent() === true"
                        ng-click="clearViolationId()"
                        ng-disabled="violations.violations.loading() === true">
                    <span class="fa fa-times"></span>
                </button>
            </div>


            <div class="row filter-content" ng-show="filters.filterByDate() === true">
                <div class="width-45">
                    <!--<label for="filter-start-date">Начальная дата</label>-->
                    <input type="text"
                           name="start_date"
                           id="filter-start-date"
                           class="text-center"
                           ng-class="{ 'width-90': violations.violations.filter.startDate !== 0, 'width-100': violations.violations.filter.startDate === 0, 'no-date': violations.violations.filter.startDate === 0 }"
                           ng-model="violations.violations.filter.startDate"
                           ng-disabled="violations.violations.loading() === true"
                           ui-date-time-picker
                           date-time-picker-id="violations-start-date"
                           date-time-picker-max-date="today"
                           date-time-picker-modal="1"
                           date-time-picker-no-value="Не задана"
                           date-time-picker-on-select="selectStartDate">
                    <button class="blue width-10"
                            title="Очистить начальную дату"
                            ng-show="violations.violations.filter.startDate !== 0"
                            ng-click="cancelStartDate()"
                            ng-disabled="violations.violations.loading() === true">
                        <span class="fa fa-times"></span>
                    </button>
                </div>

                <div class="width-10 text-center mdash">&mdash;</div>

                <div class="width-45">
                    <!--<label for="filter-end-date">Конечная дата</label>-->
                    <input type="text"
                           name="end-date"
                           id="filter-end-date"
                           class="text-center"
                           ng-class="{ 'width-90': violations.violations.filter.endDate !== 0, 'width-100': violations.violations.filter.endDate === 0, 'no-date': violations.violations.filter.endDate === 0 }"
                           ng-model="violations.violations.filter.endDate"
                           ng-disabled="violations.violations.loading() === true"
                           ui-date-time-picker
                           date-time-picker-id="violations-end-date"
                           date-time-picker-max-date="today"
                           date-time-picker-modal="1"
                           date-time-picker-no-value="Не задана"
                           date-time-picker-on-select="selectEndDate">
                    <button class="blue width-10"
                            title="Очистить конечную дату"
                            ng-show="violations.violations.filter.endDate !== 0"
                            ng-click="cancelEndDate()"
                            ng-disabled="violations.violations.loading() === true">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
            </div>

            <div class="row filter-content" ng-show="filters.filterByEskGroup() === true">
                <select class="width-95"
                        name="esk_group"
                        id="new-violation-esk-group"
                        ng-class="{ 'width-100': violations.violations.filter.eskGroupId === 0 }"
                        ng-model="violations.violations.filter.eskGroupId"
                        ng-options="group.id.value as group.title.value for group in misc.eskGroups.getAll()"
                        ng-change="$violations.violations.getNew()._states_.changed(true)">
                </select>
                <button class="blue width-5"
                        ng-show="violations.violations.filter.eskGroupId !== 0"
                        ng-click="violations.violations.filter.cancelEskGroup()">
                    <span class="fa fa-times"></span>
                </button>
            </div>
            
        </div>

        <table class="selectable stripped">
            <thead>
            <tr>
                <th class="width-10 text-center">#</th>
                <th class="width-20 text-center">
                    <span class="fa fa-clock-o"></span>&nbsp;
                    Дата и время
                </th>
                <th class="width-30 text-center">
                    <span class="fa fa-plug"></span>&nbsp;
                    Объект ЭСК
                </th>
                <th class="width-20 text-center">
                    <span class="fa fa-file"></span>&nbsp;
                    Документы
                </th>
                <th class="width-20 text-center">
                    <span class="fa fa-user"></span>&nbsp;
                    Автор
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="violation in violations.violations.getAll() | orderBy:'-happened.value' track by $index" ng-click="selectViolation(violation.id.value)" title="{{ violation.description.value }}">
                <td class="width-10 text-center">
                    {{ violation.id.value }}<br>
                    <span class="new-violation-mark" ng-show="violation.isNew === true">новое</span>
                </td>
                <td class="width-20 text-center">
                    {{ violation.happened.value | day }}
                    <br>
                    {{ violation.happened.value | time }}

                </td>
                <td class="width-30 text-center">
                    {{ violation.eskObject.value }}
                </td>
                <td class="width-20 text-center">
                    <span ng-show="violation.attachments.length > 0">
                        {{ violation.attachments.length }}<br>
                         <span class="new-attachment-mark" ng-show="violation.newAttachments > 0">
                             новых: {{ violation.newAttachments }}
                         </span>
                    </span>
                    <span ng-show="violation.attachments.length === 0">-</span>
                </td>
                <td class="width-20 text-center">
                    {{ violation.user.surname.value }}
                    <br>
                    {{ violation.user.name.value + " " + violation.user.fname.value }}
                </td>
            </tr>
            </tbody>
            <tfoot ng-show="violations.violations.getAll().length !== 0" >
            <tr>
                <td colspan="5">
                    <span class="width-50 left text-center">
                        <span class="fa fa-bolt"></span>&nbsp; Нарушений: {{ violations.violations.getTotalViolations() }}
                    </span>
                    <span class="width-50 right text-center">
                        <span class="fa fa-file"></span>&nbsp; Документов: {{ violations.violations.getTotalAttachments() }}
                    </span>
                </td>
            </tr>
            <tr>
                <td class="buttoned text-center"
                    colspan="5"
                    ng-show="violations.violations.getAll().length < violations.violations.pages.getTotal()"
                    ng-click="violations.violations.getByDivisionId(violations.divisions.getCurrent().id.value)">
                    Загрузить еще
                </td>
            </tr>
            </tfoot>
        </table>

        <div class="row text-center padding-20" ng-show="violations.violations.getAll().length === 0">
            Технологические нарушения отсутствуют
        </div>


    </div>

</div>
