<div id="left-column">

    <div id="divisions" class="block">
        <div class="header">
            Структурные подразделения
        </div>
        <div class="content padding-10">
            <ui-tree id="session-divisions-tree"
                     class="stacked"
                     root-key="0"
                     root-key-data-type="DATA_TYPE_INTEGER"
                     expand-on-select="1">
            </ui-tree>
        </div>
    </div>

</div>





<!--
<div id="filter" class="block">
    <div class="header">
        Фильтр по дате нарушения
    </div>
    <div class="content padding-10">
        <div class="row">
            <div class="width-45">
                <label for="filter-start-date">Начальная дата</label>
                <input type="text"
                       name="start_date"
                       id="filter-start-date"
                       class="width-80 text-center"
                       ng-class="{ 'width-80': violations.startDate !== 0, 'width-100': violations.startDate === 0, 'no-date': violations.startDate === 0 }"
                       ng-model="violations.startDate"
                       ui-date-time-picker
                       date-time-picker-id="violations-start-date"
                       date-time-picker-max-date="today"
                       date-time-picker-modal="1"
                       date-time-picker-no-value="Не задана"
                       date-time-picker-on-select="selectStartDate">
                <button class="blue width-20" title="Очистить начальную дату" ng-show="violations.startDate !== 0" ng-click="clearStartDate()">
                    <span class="fa fa-times"></span>
                </button>
            </div>

            <div class="width-10 text-center mdash">&mdash;</div>

            <div class="width-45">
                <label for="filter-end-date">Конечная дата</label>
                <input type="text"
                       name="end-date"
                       id="filter-end-date"
                       class="text-center"
                       ng-class="{ 'width-80': violations.endDate !== 0, 'width-100': violations.endDate === 0, 'no-date': violations.endDate === 0 }"
                       ng-model="violations.endDate"
                       ui-date-time-picker
                       date-time-picker-id="violations-end-date"
                       date-time-picker-max-date="today"
                       date-time-picker-modal="1"
                       date-time-picker-no-value="Не задана"
                       date-time-picker-on-select="selectEndDate">
                <button class="blue width-20" title="Очистить конечную дату" ng-show="violations.endDate !== 0" ng-click="clearEndDate()">
                    <span class="fa fa-times"></span>
                </button>
            </div>
        </div>
    </div>
</div>
-->




<div id="violations" class="block">

    <div class="row">

        <div class="width-10 padding-10 block-caption-title">Нарушения</div>

        <div class="width-60 padding-10">
            <button class="blue"
                    ng-class="{ 'pressed': violations.filter.enabled() === true }"
                    ng-click="violations.filter.enabled(!violations.filter.enabled())"
                    title="Поиск и фильтры">
                <span class="fa fa-filter"></span>
            </button>&nbsp;
            <span class="filter-label" ng-show=" violations.filter.getByCode('violation-id').startValue.value !== 0 && violations.filter.isIdSent() === true">
                № {{ violations.filter.getByCode("violation-id")._backup_.data.startValue }} &nbsp;
                <span class="fa fa-times"
                      title="Отменить фильтр"
                      ng-click="cancelViolationId()">
                </span>
            </span>
            <span class="filter-label" ng-show="violations.filter.getByCode('violation-date').startValue.value !== 0 && violations.filter.getByCode('violation-date').endValue.value === 0">
                с {{ violations.filter.getByCode("violation-date").startValue.value | dateShort }} &nbsp;
                <span class="fa fa-times"
                      title="Отменить фильтр"
                      ng-click="cancelStartDate()">
                </span>
            </span>
            <span class="filter-label" ng-show="violations.filter.getByCode('violation-date').startValue.value === 0 && violations.filter.getByCode('violation-date').endValue.value !== 0">
                по {{ violations.filter.getByCode('violation-date').endValue.value | dateShort }} &nbsp;
                <span class="fa fa-times"
                      title="Отменить фильтр"
                      ng-click="cancelEndDate()">
                </span>
            </span>
            <span class="filter-label" ng-show="violations.filter.getByCode('violation-date').startValue.value !== 0 && violations.filter.getByCode('violation-date').endValue.value !== 0">
                с {{ violations.filter.getByCode('violation-date').startValue.value | dateShort }} по {{ violations.filter.getByCode('violation-date').endValue.value | dateShort }} &nbsp;
                <span class="fa fa-times"
                      title="Отменить фильтр"
                      ng-click="cancelBothDates()"></span>
            </span>
            <span class="filter-label" ng-show="violations.filter.getByCode('violation-esk-group').startValue.value !== 0">
                {{ misc.eskGroups.getById(violations.filter.getByCode('violation-esk-group').startValue.value).title.value }} &nbsp;
                <span class="fa fa-times" title="Отменить фильтр" ng-click="cancelEskGroup()"></span>
            </span>
            <span class="filter-label" ng-show="violations.filter.getByCode('violation-confirmed').startValue.value !== false">
                только подтвержденные&nbsp;
                <span class="fa fa-times" title="Отменить фильтр" ng-click="cancelConfirmed()"></span>
            </span>
        </div>

        <div class="width-30 padding-10">
            <button class="blue right" ng-click="gotoNewViolation()">
                <span class="fa fa-plus"></span> Добавить нарушение
            </button>
        </div>
    </div>


    <div class="content">

        <div class="row" id="filters" ng-show="violations.filter.enabled() === true">

            <div class="row filter-tabs">

                <div class="filter-tab"
                     ng-repeat="filter in violations.filter.getAll()"
                     ng-class="{ active: filter.isActive === true }"
                     ng-click="violations.filter.selectByCode(filter.code.value)">
                    {{ filter.title.value }}
                </div>
            </div>


            <div class="row filter-content" ng-show="violations.filter.getByCode('violation-id').isActive === true">
                <form>
                    <input type="text"
                           name=""
                           id=""
                           class="width-95"
                           violation-id
                           ng-class="{ 'width-100': violations.filter.getByCode('violation-id').startValue.value === 0 && violations.filter.isIdSent() === false }"
                           placeholder="Введите № технологического нарушения"
                           ng-model="violations.filter.getByCode('violation-id').startValue.value">
                    <button class="green width-5"
                            title="Начать поиск"
                            ng-show="violations.filter.getByCode('violation-id').startValue.value !== 0 && violations.filter.isIdSent() === false"
                            ng-click="searchViolationById()"
                            ng-disabled="violations.loading() === true">
                        <span class="fa fa-search"></span>
                    </button>
                </form>

                <button class="blue width-5"
                        title="Очистить № ТН"
                        ng-show="violations.filter.isIdSent() === true"
                        ng-click="cancelViolationId()"
                        ng-disabled="violations.loading() === true">
                    <span class="fa fa-times"></span>
                </button>
            </div>


            <div class="row filter-content" ng-show="violations.filter.getByCode('violation-date').isActive === true">
                <div class="width-45">
                    <input type="text"
                           name="start_date"
                           id="filter-start-date"
                           class="text-center"
                           ng-class="{ 'width-90': violations.filter.getByCode('violation-date').startValue.value !== 0, 'width-100': violations.filter.getByCode('violation-date').startValue.value === 0, 'no-date': violations.filter.getByCode('violation-date').startValue.value === 0 }"
                           ng-model="violations.filter.getByCode('violation-date').startValue.value"
                           ng-disabled="violations.loading() === true"
                           ui-date-time-picker
                           date-time-picker-id="violations-start-date"
                           date-time-picker-max-date="today"
                           date-time-picker-modal="1"
                           date-time-picker-no-value="Не задана"
                           date-time-picker-on-select="selectStartDate">
                    <button class="blue width-10"
                            title="Очистить начальную дату"
                            ng-show="violations.filter.getByCode('violation-date').startValue.value != 0"
                            ng-click="cancelStartDate()"
                            ng-disabled="violations.loading() === true">
                        <span class="fa fa-times"></span>
                    </button>
                </div>

                <div class="width-10 text-center mdash">&mdash;</div>

                <div class="width-45">
                    <input type="text"
                           name="end-date"
                           id="filter-end-date"
                           class="text-center"
                           ng-class="{ 'width-90': violations.filter.getByCode('violation-date').endValue.value !== 0, 'width-100': violations.filter.getByCode('violation-date').endValue.value === 0, 'no-date': violations.filter.getByCode('violation-date').endValue.value === 0 }"
                           ng-model="violations.filter.getByCode('violation-date').endValue.value"
                           ng-disabled="violations.loading() === true"
                           ui-date-time-picker
                           date-time-picker-id="violations-end-date"
                           date-time-picker-max-date="today"
                           date-time-picker-modal="1"
                           date-time-picker-no-value="Не задана"
                           date-time-picker-on-select="selectEndDate">
                    <button class="blue width-10"
                            title="Очистить конечную дату"
                            ng-show="violations.filter.getByCode('violation-date').endValue.value !== 0"
                            ng-click="cancelEndDate()"
                            ng-disabled="violations.loading() === true">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
            </div>

            <div class="row filter-content" ng-show="violations.filter.getByCode('violation-esk-group').isActive === true">
                <select class="width-95"
                        name="esk_group"
                        id="new-violation-esk-group"
                        ng-class="{ 'width-100': violations.filter.getByCode('violation-esk-group').startValue.value === 0 }"
                        ng-model="violations.filter.getByCode('violation-esk-group').startValue.value"
                        ng-options="group.id.value as group.title.value for group in misc.eskGroups.getAll()"
                        ng-disabled="violations.loading() === true"
                        ng-change="selectEskGroup()">
                </select>
                <button class="blue width-5"
                        ng-show="violations.filter.getByCode('violation-esk-group').startValue.value !== 0"
                        ng-click="cancelEskGroup()">
                    <span class="fa fa-times"></span>
                </button>
            </div>

            <div class="row filter-content" ng-show="violations.filter.getByCode('violation-confirmed').isActive === true">
                <input type="checkbox"
                       name="violation-filter-confirmed"
                       id="violation-filter-confirmed"
                       ng-model="violations.filter.getByCode('violation-confirmed').startValue.value"
                       ng-disabled="violations.loading() === true"
                       ng-change="selectConfirmed()">
                &nbsp; Только подтвержденные ТН
            </div>
            
        </div>

        <table class="selectable stripped">
            <thead>
            <tr>
                <th class="width-5 text-center">№</th>
                <th class="width-5 text-center">
                    <span class="fa fa-check"></span>
                </th>
                <th class="width-15 text-left">
                    <span class="fa fa-clock-o"></span>&nbsp;
                    Дата
                </th>
                <th class="width-35 text-left">
                    <span class="fa fa-plug"></span>&nbsp;
                    Объект ЭСК
                </th>
                <th class="width-20 text-left">
                    <span class="fa fa-file"></span>&nbsp;
                    Документы
                </th>
                <th class="width-20 text-left">
                    <span class="fa fa-user"></span>&nbsp;
                    Автор
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="violation in violations.getAll() | orderBy:'-happened.value' track by $index" ng-click="selectViolation(violation.id.value)" title="{{ violation.description.value }}">
                <td class="width-5 text-center">
                    {{ violation.id.value }}&nbsp;
                    <span class="new-violation-mark"
                          ng-show="violation.isNew === true">
                        новое
                    </span>
                </td>
                <td class="width-5 text-center">
                    <span class="fa fa-check violation-confirmed-mark" ng-show="violation.isConfirmed.value === true"></span>
                </td>
                <td class="width-15 text-left">
                    {{ violation.happened.value | day }}, {{ violation.happened.value | time }}
                </td>
                <td class="width-35 text-left">
                    {{ violation.eskObject.value }}
                </td>
                <td class="width-20 text-left">
                    <span ng-show="violation.attachments.length > 0">
                        {{ violation.attachments.length }}&nbsp;
                         <span class="new-attachment-mark" ng-show="violation.newAttachments > 0">
                             новых: {{ violation.newAttachments }}
                         </span>
                    </span>
                    <span ng-show="violation.attachments.length === 0">-</span>
                </td>
                <td class="width-20 text-left">
                    {{ violation.user.surname.value + " " + violation.user.name.value + " " + violation.user.fname.value }}
                </td>
            </tr>
            </tbody>
            <tfoot ng-show="violations.getAll().length !== 0" >
            <tr>
                <td colspan="5">
                    <span class="width-50 left text-center">
                        <span class="fa fa-bolt"></span>&nbsp; Нарушений: {{ violations.getLoaded() }}
                    </span>
                    <span class="width-50 right text-center">
                        <span class="fa fa-file"></span>&nbsp; Документов: {{ violations.getTotalAttachments() }}
                    </span>
                </td>
            </tr>
            <tr>
                <td class="buttoned text-center"
                    colspan="5"
                    ng-show="violations.getAll().length < violations.getTotal() && violations.loading() === false"
                    ng-click="violations.getByDivisionId(divisions.getCurrent().id.value)">
                    Загрузить еще
                </td>
            </tr>
            </tfoot>
        </table>

        <div class="row text-center result-message" ng-show="violations.loading() === false && violations.getAll().length === 0 && violations.filter.isIdSent() === false">
            Технологические нарушения отсутствуют
        </div>

        <div class="row text-center result-message" ng-show="violations.filter.isIdSent() === true && violations.getAll().length === 0 && violations.loading() === false">
            <span>Технологическое нарушение №{{ violations.filter.getByCode('violation-id')._backup_.data.startValue }} не найдено</span>
        </div>

        <div class="row text-center result-message" ng-show="violations.loading() === true">
            <span class="fa fa-spinner fa-pulse fa-fw"></span>
            &nbsp; Загрузка данных...
        </div>


    </div>

</div>
