/**********
** FONTS
*********/

@font-face {
  font-family: "PT Sans";
  src: url("/clientside/resources/fonts/PT_Sans-Web-Regular.ttf");
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("/clientside/resources/fonts/PT_Sans-Web-Bold.ttf");
}

@font-face {
  font-family: "PT Sans Italic";
  src: url("/clientside/resources/fonts/PT_Sans-Web-Italic.ttf");
}




@app-content-background-color: #EEEEEE;
html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: "PT Sans";
  background: @app-content-background-color;
}



@app-mobile-menu-width: 200px;
@app-mobile-menu-background-color: #00695C;
@app-mobile-menu-item-height: 20px;

#app-mobile-menu-container {
  overflow: hidden;
  display: block;
  position: fixed;
  left: @app-mobile-menu-width * -1;
  top: @app-header-mobile-height;
  bottom: 0px;
  width: @app-mobile-menu-width;
  z-index: 7;
  background: transparent;
  transition: background 200ms 300ms linear;
  transition: left 300ms linear;

  &.opened {
    left: 0px;
    right: 0px;
    width: auto;
    //background: rgba(0, 0, 0, 0.6);
  }



  #app-mobile-menu {
    z-index: 9;
    //display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: @app-mobile-menu-width;
    background: @app-mobile-menu-background-color;
    transition: left 0.2s linear;

    //&.opened {
    //  left: 0px;
    //}

    .user {
      height: 100px;
      margin-bottom: 30px;
      font-size: 20px;
      text-align: center;
      line-height: 100px;
      font-family: "PT Sans Bold";
      color: white;
      background: rgba(0, 0, 0, 0.2);
    }

    .menu-item {
      display: block;
      height: @app-mobile-menu-item-height;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-left: 3px solid transparent;

      &:hover {
        background: #00796B;
      }

      &.active {
        background: #004D40;
        border-left: 3px solid #90CAF9;
      }

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .empty-space {
    position: absolute;
    left: @app-mobile-menu-width;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
  }
}




@app-header-height: 80px;
@app-header-mobile-height: 50px;
@app-header-background-color: #006064;
#app-header {
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: @app-header-height;
  //padding-left: 10px;
  padding-right: 10px;
  background: @app-header-background-color;

  .menu-button {
    display: none;
    float: left;
    width: @app-header-mobile-height;
    height: @app-header-mobile-height;
    text-align: center;
    cursor: pointer;

    .fa {
      font-size: 25px;
      line-height: @app-header-mobile-height;
      color: white;
    }
  }

  .caption {
    display: inline-block;
    float: left;
    height: @app-header-height;
    margin-right: 20px;
    padding-left: 10px;
    line-height: @app-header-height - 5px;
    font-family: "PT Sans Bold";
    font-size: 22px;
    font-weight: bold;
    color: white;
  }

  a {
    display: inline-block;
    float: left;
    height: @app-header-height;
    line-height: @app-header-height;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #E3F2FD;
    border-bottom: 3px solid transparent;
    box-sizing: border-box;

    &:hover {
      color: #E3F2FD;
    }

    &.active {
      color: #90CAF9;
      border-bottom: 3px solid #90CAF9;
    }

    .fa {
      margin-right: 3px;
    }
  }



  .dropdown-menu {
    display: inline-block;
    overflow: visible;
    z-index: 2;
    position: relative;
    //float: right;
    height: @app-header-height;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
    //padding-right: 10px;
    font-size: 13px;
    line-height: @app-header-height;
    text-transform: uppercase;
    color: white;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    //border: 1px solid white;


    &:hover {
      background: #00796B;

      .dropdown-menu {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
      }
    }






    .dropdown-menu {
      display: block;
      position: relative;
      overflow: hidden;
      float: left;
      min-width: 100%;
      height: @app-header-height;
      margin-left: -10px;
      margin-right: 0px !important;
      box-sizing: border-box;
      background: #00695C;


      a {
        display: block;
        position: relative;
        width: 100%;
        height: @app-header-height;
        padding-right: 20px !important;
        padding-left: 20px !important;
        //margin-right: 0px !important;
        margin-left: -10px;
        margin-right: -20px;
        line-height: @app-header-height;
        text-align: left;
        //padding: 10px;
        box-sizing: border-box;
        //border: 1px solid green;

        &:hover {
          background: #004D40;
        }
      }
    }

  }



  .menu-item {
    overflow: visible;
    position: relative;
    display: inline-block;
    float: left;
    height: @app-header-height;
    //margin-right: -10px !important;
    // margin-left: -10px !important;
    //padding-left: 10px;
    //padding-right: 10px;
    //border-bottom: 3px solid transparent;
    box-sizing: border-box;

    &.active {
      //border-bottom: 3px solid #90CAF9;
      a {
        border-bottom: 3px solid #90CAF9 !important;
      }
    }

    &:hover {
      a {
        background: #00796B;
        border-bottom: 3px solid transparent !important;
      }

      .container {
        display: inline-block;
        a {
          background: #00695C;
        }
      }
    }

    a {
      display: block;
      height: @app-header-height;
      padding-left: 20px !important;
      padding-right: 20px   !important;
      box-sizing: border-box;
      border-bottom: 3px solid transparent !important;
      &:hover {
        background: #00796B;
      }
    }

    .container {
      position: relative;
      display: none;
      overflow: visible;
      z-index: 5;
      //clear: right;
      min-width: 100%;
      //margin-right: -20px;
      background: #00695C;
      box-sizing: border-box;
      //.box-shadow(5px, 5px, 15px, 1px, rgba(0, 1, 0, 0.2));

      .menu-item {
        display: block;
        float: none !important;
        height: 50px;
        box-sizing: border-box;

        &.active {
          a {
            color: #90CAF9 !important;
          }
        }

        a {
          position: relative;
          display: block !important;
          float: none !important;
          min-width: 100% !important;
          height: 50px !important;
          //margin-left: -10px;
          //margin-right: -10px;
          padding-left: 20px !important;
          padding-right: 20px !important;
          line-height: 50px !important;
          box-sizing: border-box;



          &:hover {
            background: #004D40;
          }
        }
      }
    }

  }
}

#app-content {
  z-index: 4;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  //height: 600px;
  //min-height: 500px;
  margin-top: @app-header-height;
  padding: 10px;
  box-sizing: border-box;

  .block {
    //margin-bottom: 20px;
    background: white;
    box-shadow: 0px 3px 5px 0 rgba(174,174,174,0.5);

    .block-caption-title {
      display: inline-block;
      height: 55px;
      padding: 10px;
      font-size: 17px;
      color: #4f6173;
      font-weight: bold;
      line-height: 35px;

      .extend {
        margin-left: -10px;
      }
    }

    .header {
      height: 35px;
      padding: 10px;
      font-size: 17px;
      color: #4f6173;
      font-weight: bold;
      line-height: 35px;
      border-bottom: 1px solid #eceeef;

      .collapse {
        margin-right: -10px;
      }

      label {
        font-weight: normal !important;
      }

      .upload-progress {
        font-weight: normal;
        float: right;
        line-height: 35px;
        font-size: 15px;
      }
    }

    .content {
      //padding: 10px;
    }
  }

  .result-message {
    height: 100px;
    line-height: 100px;
    box-sizing: border-box;
  }


  .violation-notification {
    .fa {
      margin-right: 0px !important;
      color: #FF5722;
    }
    color: #FF5722;
  }


  .attachment-notification {
    .fa {
      color: #009688;
    }
    color: #009688;
  }
}


.block-title {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-size: 15px;
  text-transform: uppercase;
  color: #00796B;

  hr {
    margin-top: 3px;
    margin-bottom: 0px;
    color: lightgrey;
    border-top: 1px solid #00796B;
  }
}


.modal-block-separator {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "PT Sans Bold";
  font-size: 13px;
  text-transform: uppercase;
  color: #006064;
  border-bottom: 1px solid #BDBDBD;
}

.form-error {
  color: red;
}



#users {
  //float: left;
  display: block;
  margin-right: 310px;
  .filter-label {
    vertical-align: middle !important;
  }
}

#users-filter {
  display: block;
  float: right;
  width: 300px;
}


.filter-label {
  //float: left;
  display: inline-block;
  //clear: left;
  height: 17px;
  margin-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 17px;
  font-size: 11px;
  vertical-align: top;
  background: #FFE0B2;

  .fa {
    cursor: pointer;
    color: #F57C00;
    &:hover {
      color: #E65100;
    }
  }
}



#help {
  margin-right: 410px;
}

#help-navigation {
  float: right;
  width: 400px;

  ol {
    li {
      padding-bottom: 8px;
      line-height: 15px;
    }
  }
}

/* Смартфоны */
@media screen and (min-width:320px) and (max-width:800px) {
  #app-header {
    height: @app-header-mobile-height;

    .menu-button {
      display: block;
    }

    .caption {
      font-size: 18px;
      height: @app-header-mobile-height;
      line-height: @app-header-mobile-height;
    }

    .menu-item {
      display: none;
    }
  }


  #app-mobile-menu-container {
    #app-mobile-menu {
      display: block;
    }
  }


  #app-content {
    margin-top: @app-header-mobile-height;
    padding: 0px;
  }

  table tbody td {
    max-height: 50px !important;
  }

  #filters {
    display: none !important;
  }
}


/* Планшеты */
@media screen and (min-width:800px) and (max-width:1400px) {
  #app-header {
    height: @app-header-mobile-height;

    .menu-button {
      display: block;
    }

    .caption {
      font-size: 18px;
      height: @app-header-mobile-height;
      line-height: @app-header-mobile-height;
    }

    .menu-item {
      display: none;
    }
  }

  #app-mobile-menu {
    display: block;
  }

  #app-content {
    margin-top: @app-header-mobile-height;
    padding: 10px;
  }
}