#left-column {
  overflow: auto;
  float: left;
  width: 420px;
}
#filter {
  float: right;
  width: 770px;
  box-sizing: border-box;
}
#filter .no-date {
  color: gray;
}
#divisions {
  float: left;
  width: 420px;
  box-sizing: border-box;
}
#violations {
  float: right;
  width: 770px;
  box-sizing: border-box;
  border-left: 1px solid lightgray;
}
#violations .content {
  padding: 0px;
}
.violation {
  overflow: auto;
  border-bottom: 1px solid lightgray;
}
.violation .fa {
  color: #757575;
}
.violation .caption {
  overflow: auto;
  padding: 10px;
  background: #FAFAFA;
}
.violation .caption .id {
  display: inline-block;
  float: right;
  font-size: 14px;
  color: #9E9E9E;
}
.violation .caption .date {
  display: inline-block;
  float: left;
  font-size: 14px;
  color: #9E9E9E;
}
.violation .caption .author {
  display: inline-block;
  float: right;
  font-size: 14px;
  color: #9E9E9E;
}
.violation .body {
  padding: 10px;
  font-style: italic;
  border-left: 1px solid #FAFAFA;
  border-right: 1px solid #FAFAFA;
}
table {
  font-size: 14px;
  color: black;
}
table td {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
table thead th {
  cursor: default;
}
table tfoot td {
  cursor: default;
}
table tfoot td {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background: #E0F2F1;
  font-weight: bold;
}
table tfoot td.buttoned {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  color: white;
  font-size: 17px;
  font-weight: normal;
  background: #42A5F5;
}
table tfoot td.buttoned:hover {
  background: #1976D2;
}
.controls {
  background: #DCEDC8;
  box-shadow: 0px 3px 5px 0 rgba(174, 174, 174, 0.5);
}
.violation-notification {
  color: #FF5722;
}
.violation-notification .fa {
  margin-right: 0px !important;
  color: #FF5722;
}
.attachment-notification {
  color: #009688;
}
.attachment-notification .fa {
  color: #009688;
}
.new-violation-mark {
  height: 18px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  background: #FF9800;
  color: white;
}
.new-attachment-mark {
  height: 18px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  background: #009688;
  color: white;
}
.mdash {
  height: 30px;
  line-height: 30px;
  color: lightgray;
}
/*** Filters ***/
.filter-label {
  display: inline-block;
  height: 17px;
  margin-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 17px;
  font-size: 11px;
  vertical-align: top;
  background: #FFE0B2;
}
.filter-label .fa {
  cursor: pointer;
  color: #F57C00;
}
.filter-label .fa:hover {
  color: #E65100;
}
#filters {
  position: relative;
  overflow: hidden;
  height: 85px;
  border: none;
}
.filter-tabs {
  position: absolute;
  overflow: visible;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  clear: both;
  height: 30px;
  margin-bottom: -1px;
  padding-left: 10px;
}
.filter-tabs .filter-tab {
  position: relative;
  display: inline-block;
  z-index: 3;
  float: left;
  height: 25px;
  margin-top: 6px;
  margin-right: 5px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 24px;
  color: darkgrey;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  cursor: pointer;
}
.filter-tabs .filter-tab:hover {
  color: black;
}
.filter-tabs .filter-tab.active {
  font-weight: bold;
  color: black;
  border-bottom: 1px solid white;
}
.filter-content {
  position: relative;
  top: 30px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  z-index: 1;
  clear: both;
  height: 55px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid lightgrey;
}
#new-violation_ {
  width: 1200px;
  height: 400px;
}
#new-violation_ #violation-info {
  float: left;
  width: 700px;
  margin-right: 10px;
  box-sizing: border-box;
}
#new-violation_ #violation-documents {
  float: left;
  width: 490px;
  box-sizing: border-box;
}
#new-violation_ #violation-documents .content {
  padding: 0px;
}
#new-violation_ #violation-documents #new-violation-files .attachment {
  transition: 0.7s ease all;
  -webkit-transition: 0.7s linear all;
}
#new-violation_ #violation-documents #new-violation-files .attachment .attachment-message {
  display: none;
  font-size: 20px;
  line-height: 14px;
  text-align: center;
  color: #1B5E20;
}
#new-violation_ #violation-documents #new-violation-files .attachment .attachment-message .fa {
  font-size: 25px;
  line-height: 14px;
}
#new-violation_ #violation-documents #new-violation-files .attachment .attachment-loaded {
  display: table-cell;
}
#new-violation_ #violation-documents #new-violation-files .attachment.ng-enter {
  background: #81C784;
}
#new-violation_ #violation-documents #new-violation-files .attachment.ng-enter .attachment-message {
  display: table-cell;
}
#new-violation_ #violation-documents #new-violation-files .attachment.ng-enter .attachment-loaded {
  display: none;
}
#new-violation_ #violation-documents #new-violation-files .attachment.ng-enter.ng-enter-active {
  background: #C8E6C9;
}
#new-violation_ #new-violation-hours,
#new-violation_ #new-violation-end-hours {
  border-right: none;
}
#new-violation_ #new-violation-minutes,
#new-violation_ #new-violation-end-minutes {
  border-left: none;
}
#new-violation_ .time-separator {
  height: 35px;
  line-height: 30px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
#current-violation_ {
  width: 1200px;
  height: 400px;
}
#current-violation_ #violation-info {
  float: left;
  width: 700px;
  margin-right: 10px;
  box-sizing: border-box;
}
#current-violation_ #violation-documents {
  float: left;
  width: 490px;
  box-sizing: border-box;
}
#current-violation_ #violation-documents .content {
  padding: 0px;
}
#current-violation_ #violation-documents #current-violation-files .attachment {
  transition: 0.7s ease all;
  -webkit-transition: 0.7s linear all;
}
#current-violation_ #violation-documents #current-violation-files .attachment .attachment-message {
  display: none;
  font-size: 20px;
  line-height: 14px;
  text-align: center;
  color: #1B5E20;
}
#current-violation_ #violation-documents #current-violation-files .attachment .attachment-message .fa {
  font-size: 25px;
  line-height: 14px;
}
#current-violation_ #violation-documents #current-violation-files .attachment .attachment-loaded {
  display: table-cell;
}
#current-violation_ #violation-documents #current-violation-files .attachment.ng-enter {
  background: #81C784;
}
#current-violation_ #violation-documents #current-violation-files .attachment.ng-enter .attachment-message {
  display: table-cell;
}
#current-violation_ #violation-documents #current-violation-files .attachment.ng-enter .attachment-loaded {
  display: none;
}
#current-violation_ #violation-documents #current-violation-files .attachment.ng-enter.ng-enter-active {
  background: #C8E6C9;
}
#current-violation_ .is-violation-confirmed {
  padding: 10px;
  font-size: 18px;
  background: #FFFDE7;
  border: 2px solid #FFF9C4;
}
#current-violation_ .is-violation-confirmed.yes {
  background: #E8F5E9;
  border: 2px solid #C8E6C9;
}
#current-violation_ .is-violation-confirmed input[type='checkbox'] {
  width: 20px;
  height: 20px;
}
#new-user,
#edit-user {
  width: 1200px;
  height: 400px;
}
#new-user #user-info,
#edit-user #user-info {
  float: left;
  width: 700px;
  margin-right: 10px;
  box-sizing: border-box;
}
#new-user #user-permissions,
#edit-user #user-permissions {
  float: left;
  width: 490px;
  box-sizing: border-box;
}
#new-user #user-permissions .content,
#edit-user #user-permissions .content {
  padding: 0px;
}
#new-user #user-permissions #current-violation-files .attachment,
#edit-user #user-permissions #current-violation-files .attachment {
  transition: 0.7s ease all;
  -webkit-transition: 0.7s linear all;
}
#new-user #user-permissions #current-violation-files .attachment .attachment-message,
#edit-user #user-permissions #current-violation-files .attachment .attachment-message {
  display: none;
  font-size: 20px;
  line-height: 14px;
  text-align: center;
  color: #1B5E20;
}
#new-user #user-permissions #current-violation-files .attachment .attachment-message .fa,
#edit-user #user-permissions #current-violation-files .attachment .attachment-message .fa {
  font-size: 25px;
  line-height: 14px;
}
#new-user #user-permissions #current-violation-files .attachment .attachment-loaded,
#edit-user #user-permissions #current-violation-files .attachment .attachment-loaded {
  display: table-cell;
}
#new-user #user-permissions #current-violation-files .attachment.ng-enter,
#edit-user #user-permissions #current-violation-files .attachment.ng-enter {
  background: #81C784;
}
#new-user #user-permissions #current-violation-files .attachment.ng-enter .attachment-message,
#edit-user #user-permissions #current-violation-files .attachment.ng-enter .attachment-message {
  display: table-cell;
}
#new-user #user-permissions #current-violation-files .attachment.ng-enter .attachment-loaded,
#edit-user #user-permissions #current-violation-files .attachment.ng-enter .attachment-loaded {
  display: none;
}
#new-user #user-permissions #current-violation-files .attachment.ng-enter.ng-enter-active,
#edit-user #user-permissions #current-violation-files .attachment.ng-enter.ng-enter-active {
  background: #C8E6C9;
}
#new-user input[type="radio"],
#edit-user input[type="radio"] {
  display: inline-block;
}
/**
*
**/
/**********
** FONTS
*********/
@font-face {
  font-family: "Roboto Regular";
  src: url("/clientside/resources/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("/clientside/resources/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto Italic";
  src: url("/clientside/resources/fonts/Roboto-Italic.ttf");
}
/**********
** TEXT ALIGN
**********/
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify !important;
}
/**********
** BLOCK FLOAT
**********/
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.center {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important;
}
/**********
** GRID
**********/
.row {
  overflow: auto;
  box-sizing: border-box;
}
.row.bottom-split-5 {
  margin-bottom: 5px;
}
/**********
** WIDTH & height
**********/
.width-100 {
  float: left;
  width: 100% !important;
  box-sizing: border-box;
}
.width-95 {
  float: left;
  width: 95%;
  box-sizing: border-box;
}
.width-90 {
  float: left;
  width: 90%;
  box-sizing: border-box;
}
.width-85 {
  float: left;
  width: 85%;
  box-sizing: border-box;
}
.width-80 {
  float: left;
  width: 80%;
  box-sizing: border-box;
}
.width-70 {
  float: left;
  width: 70%;
  box-sizing: border-box;
}
.width-75 {
  float: left;
  width: 75%;
  box-sizing: border-box;
}
.width-65 {
  float: left;
  width: 65%;
}
.width-60 {
  float: left;
  width: 60%;
  box-sizing: border-box;
}
.width-55 {
  float: left;
  width: 55%;
  box-sizing: border-box;
}
.width-50 {
  float: left;
  width: 50%;
}
.width-45 {
  float: left;
  width: 45%;
}
.width-40 {
  float: left;
  width: 40%;
}
.width-35 {
  float: left;
  width: 35%;
}
.width-33 {
  float: left;
  width: 33%;
}
.width-30 {
  float: left;
  width: 30%;
  box-sizing: border-box;
}
.width-25 {
  float: left;
  width: 25%;
  box-sizing: border-box;
}
.width-20 {
  float: left;
  width: 20%;
  box-sizing: border-box;
}
.width-15 {
  float: left;
  width: 15%;
  box-sizing: border-box;
}
.width-10 {
  float: left;
  width: 10%;
  box-sizing: border-box;
}
.width-5 {
  float: left;
  width: 5%;
  box-sizing: border-box;
}
.height-100 {
  height: 100%;
}
/**********
** PADDINGS & MARGINS
**********/
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-20 {
  padding: 20px;
}
.padding-30 {
  padding: 30px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-20 {
  margin: 20px !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.margin-bottom-40 {
  margin-bottom: 40px !important;
}
.margin-right-5 {
  margin-right: 5px !important;
}
.margin-right-10 {
  margin-right: 10px !important;
}
/**********
** FORMS
**********/
label {
  display: inline-block;
  margin-bottom: 3px;
  font-size: 13px;
  color: gray;
}
label.button {
  height: 35px;
  padding: 10px;
  border: none;
  cursor: pointer;
  line-height: 12px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
}
label.button.blue {
  color: white;
  background: #2196F3;
}
label.button.blue:hover {
  background: #1976D2;
}
label.button.green {
  color: white;
  background: #4CAF50;
}
label.button.green:hover {
  background: #388E3C;
}
label.button.green[disabled] {
  background: #C8E6C9;
}
label.button.red {
  color: white;
  background: #F44336;
}
label.button.red:hover {
  background: #D32F2F;
}
label.button.transparent {
  background: transparent;
}
label.button input {
  display: none;
}
input {
  display: block;
  font-family: "Roboto Regular";
  font-size: 18px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  outline: none;
}
input[type='text'],
input[type='password'],
input[type='number'] {
  height: 35px;
  padding: 7px;
  box-sizing: border-box;
}
input[type='text'].error,
input[type='password'].error,
input[type='number'].error {
  background: #FFCDD2;
}
input[type='text'].label,
input[type='password'].label,
input[type='number'].label {
  padding-left: 0px !important;
  border: 1px solid transparent;
  background: transparent;
}
input[type='text'].label.border-top,
input[type='password'].label.border-top,
input[type='number'].label.border-top {
  border-top: 1px solid lightgrey;
}
input[type='text'].dark,
input[type='password'].dark,
input[type='number'].dark {
  background: #F5F5F5;
  border: none;
}
input[type='text'].obtique,
input[type='password'].obtique,
input[type='number'].obtique {
  border-radius: 3px;
}
input[type='text'].big,
input[type='password'].big,
input[type='number'].big {
  height: 41px;
  padding: 10px;
}
select {
  height: 35px;
  padding: 7px;
  box-sizing: border-box;
  font-family: "Roboto Regular";
  font-size: 17px;
  text-align: center !important;
  border: 1px solid lightgrey;
  outline: none;
}
select[disabled] {
  background: #FAFAFA;
}
select.no-border {
  border: none;
}
select option {
  padding: 10px;
  color: gray;
}
textarea {
  padding: 7px;
  box-sizing: border-box;
  font-family: "Roboto Regular";
  font-size: 17px;
  border: 1px solid lightgrey;
  outline: none;
}
.input-comment {
  display: block;
  font-size: 13px;
  color: #BDBDBD;
}
/**********
** BUTTONS
**********/
input[type='button'],
input[type='submit'],
button {
  height: 35px;
  padding: 10px;
  border: none;
  cursor: pointer;
  line-height: 14px;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
}
input[type='button'].rounded,
input[type='submit'].rounded,
button.rounded {
  border-radius: 50%;
}
input[type='button'].obtique,
input[type='submit'].obtique,
button.obtique {
  border-radius: 3px;
}
input[type='button'].small,
input[type='submit'].small,
button.small {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  padding: 0px !important;
  font-size: 11px;
  text-align: center !important;
  vertical-align: middle;
  box-sizing: border-box;
}
input[type='button'].big,
input[type='submit'].big,
button.big {
  height: 45px;
}
input[type='button'].very-big,
input[type='submit'].very-big,
button.very-big {
  height: 60px;
}
input[type='button'][disabled='true'],
input[type='submit'][disabled='true'],
button[disabled='true'] {
  cursor: default;
}
input[type='button'].blue,
input[type='submit'].blue,
button.blue {
  color: white;
  background: #2196F3;
}
input[type='button'].blue:hover,
input[type='submit'].blue:hover,
button.blue:hover {
  background: #1976D2;
}
input[type='button'].blue[disabled],
input[type='submit'].blue[disabled],
button.blue[disabled] {
  background: #BBDEFB;
}
input[type='button'].blue.pressed,
input[type='submit'].blue.pressed,
button.blue.pressed {
  background: #0D47A1;
}
input[type='button'].green,
input[type='submit'].green,
button.green {
  color: white;
  background: #4CAF50;
}
input[type='button'].green:hover,
input[type='submit'].green:hover,
button.green:hover {
  background: #388E3C;
}
input[type='button'].green[disabled],
input[type='submit'].green[disabled],
button.green[disabled] {
  background: #C8E6C9;
}
input[type='button'].red,
input[type='submit'].red,
button.red {
  color: white;
  background: #F44336;
}
input[type='button'].red:hover,
input[type='submit'].red:hover,
button.red:hover {
  background: #D32F2F;
}
input[type='button'].transparent,
input[type='submit'].transparent,
button.transparent {
  background: transparent;
}
/*********
* TABLES
*********/
table {
  width: 100%;
  border-spacing: 0px;
}
table thead th {
  padding: 10px;
  font-size: 14px;
  text-align: left;
  box-sizing: border-box;
  background: #E0F2F1;
}
table tbody tr {
  border-bottom: 1px solid black;
}
table tbody tr td {
  padding: 10px;
  box-sizing: border-box;
}
table.stripped tbody tr:nth-child(even) {
  background: #FAFAFA;
}
table.selectable tr {
  cursor: pointer;
}
table.selectable tr:hover {
  background: #FAFAFA;
}
table.selectable tr.selected {
  background: #EEEEEE !important;
}
/**********
* LINKS
*********/
a {
  color: #64B5F6;
}
a:hover {
  color: #1565C0;
}
a.green {
  color: #4CAF50;
}
a.green:hover {
  color: #388E3C;
}
a.red {
  color: #F44336;
}
a.red:hover {
  color: #D32F2F;
}
a.blue {
  color: #2196F3;
}
a.blue:hover {
  color: #1976D2;
}
/**********
** COLORS
**********/
/*.red {
  background-color: #F44336;
  color: white;
  &:hover {
    background-color: #D32F2F;
  }
}

.light-red {
  background-color: #FFCDD2;
  color: #D50000;
}

.blue {
  background-color: #2196F3;
  color: white;
  &:hover {
    background-color: #1976D2;
  }
}

.light-blue {
  background-color: #BBDEFB;
  color: #0D47A1;
}

.green {
  background-color: #4CAF50;
  color: white;
  &:hover {
    background-color: #388E3C;
  }
  
  &.disabled {
    background: #C8E6C9;
    color: #BDBDBD;
  }
}

.light-green {
  background-color: #C8E6C9;
  color: #1B5E20;
}
*/
/**********
** CUSTOM CONTROLS
*********/
/**********
** DEBUG CONSOLE
**********/
#krypton-debug-console {
  position: absolute;
  z-index: 2000;
  right: 20px;
  bottom: 0px;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 1px 2px 15px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 15px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 15px 2px rgba(0, 0, 0, 0.2);
}
#krypton-debug-console table th {
  padding: 10px;
  font-size: 10px;
  text-align: left;
  text-transform: uppercase;
  color: white;
  background: rgba(0, 0, 0, 0.8);
}
#krypton-debug-console table td {
  text-align: left;
  vertical-align: top;
  font-size: 11px;
  color: white;
}
/**********
* LIST
**********/
.list-item {
  min-height: 44px;
  box-sizing: border-box;
  border-bottom: 1px solid #E0E0E0;
  cursor: pointer;
}
.list-item:hover {
  background: #FAFAFA;
}
.list-item.active {
  background: #EEEEEE;
}
.list-item.active .list-item-icon {
  border-left: 3px solid #2196F3;
}
.list-item .list-item-icon {
  float: left;
  height: 44px;
  padding: 5px;
  padding-top: 6px;
  text-align: center;
  font-size: 15px;
  color: #273A4D;
  border-left: 3px solid transparent;
  box-sizing: border-box;
}
.list-item .list-item-icon span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: white;
  border-radius: 50px;
  border: 1px solid #E0E0E0;
}
.list-item .list-item-content-lead {
  overflow: hidden;
  height: 22px;
  margin-left: 40px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  color: #1F3E4C;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis !important;
}
.list-item .list-item-content-lead.only {
  height: 44px;
  line-height: 33px;
}
.list-item .list-item-content-secondary {
  overflow: hidden;
  height: 22px;
  margin-left: 40px;
  padding-left: 5px;
  padding-right: 5px;
  color: #A7B0BB;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  box-sizing: border-box;
}
.system-info {
  display: block;
  overflow: visible;
  width: 250px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
  font-size: 17px;
  color: #BDBDBD;
  background: #FAFAFA;
  border-radius: 4px;
  text-shadow: #ffffff 0px 1px 0px;
}
.system-info .message {
  display: block;
}
.system-info .fa {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 36px;
  text-align: center;
  line-height: 40px;
  background: white;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
}
.badge {
  display: inline-block;
  height: 20px;
  border-radius: 4px;
  background: #607D8B;
  color: white;
  font-size: 13px;
  line-height: 14px;
}
.content-caption {
  border-bottom: 1px solid lightgrey;
}
.block-caption {
  display: block;
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-size: 22px;
  color: #BDBDBD;
  border-bottom: 1px dotted lightgrey;
}
/***** PAGINATION *****/
.pagination {
  padding-top: 5px;
  padding-bottom: 5px;
}
.pagination a {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  color: #2196F3;
  background: #BBDEFB;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}
.pagination a:hover {
  color: white;
  background: #1976D2;
}
.pagination a.current {
  font-weight: bold;
  color: white;
  background: #2196F3;
}
.pagination .middle {
  display: inline-block;
  vertical-align: bottom;
}
/**********
** FONTS
*********/
@font-face {
  font-family: "PT Sans";
  src: url("/clientside/resources/fonts/PT_Sans-Web-Regular.ttf");
}
@font-face {
  font-family: "PT Sans Bold";
  src: url("/clientside/resources/fonts/PT_Sans-Web-Bold.ttf");
}
@font-face {
  font-family: "PT Sans Italic";
  src: url("/clientside/resources/fonts/PT_Sans-Web-Italic.ttf");
}
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans";
}
#app-header {
  z-index: 1;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  overflow: visible;
  height: 70px;
  box-sizing: border-box;
  background: #006064;
}
#app-header #app-header-wrapper {
  width: 1215px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
#app-header #app-header-wrapper .caption {
  display: inline-block;
  float: left;
  height: 70px;
  margin-right: 43px;
  line-height: 70px;
  font-family: "PT Sans Bold";
  font-size: 22px;
  font-weight: bold;
  color: white;
}
#app-header #app-header-wrapper a {
  display: inline-block;
  float: left;
  height: 70px;
  line-height: 75px;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #E3F2FD;
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
}
#app-header #app-header-wrapper a:hover {
  color: #E3F2FD;
}
#app-header #app-header-wrapper a.active {
  color: #90CAF9;
  border-bottom: 3px solid #90CAF9;
}
#app-header #app-header-wrapper a .fa {
  margin-right: 3px;
}
#app-header #app-header-wrapper .user-info {
  z-index: 2;
  position: relative;
  float: right;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
  font-size: 13px;
  line-height: 70px;
  text-transform: uppercase;
  color: white;
  box-sizing: border-box;
}
#app-header #app-header-wrapper .user-info:hover {
  background: #00796B;
}
#app-header #app-header-wrapper .user-info:hover .dropdown-menu {
  display: block;
}
#app-header #app-header-wrapper .user-info .dropdown-menu {
  display: none;
  overflow: auto;
  margin-left: -10px;
  margin-right: -10px;
  background: #00695C;
}
#app-header #app-header-wrapper .user-info .dropdown-menu a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  box-sizing: border-box;
}
#app-header #app-header-wrapper .user-info .dropdown-menu a:hover {
  background: #004D40;
}
#app-content {
  overflow: auto;
  position: absolute;
  left: 0px;
  top: 70px;
  right: 0px;
  bottom: 0px;
  box-sizing: border-box;
  background: #EEEEEE;
}
#app-content #app-content-wrapper {
  overflow: visible;
  width: 1200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.form-error {
  color: red;
}
.block {
  margin-bottom: 20px;
  background: white;
  box-shadow: 0px 3px 5px 0 rgba(174, 174, 174, 0.5);
}
.block .block-caption-title {
  display: inline-block;
  height: 55px;
  padding: 10px;
  font-size: 17px;
  color: #4f6173;
  font-weight: bold;
  line-height: 35px;
}
.block .header {
  height: 35px;
  padding: 10px;
  font-size: 17px;
  color: #4f6173;
  font-weight: bold;
  line-height: 35px;
  border-bottom: 1px solid #eceeef;
}
.block .header label {
  font-weight: normal !important;
}
.block .header .upload-progress {
  font-weight: normal;
  float: right;
  line-height: 35px;
  font-size: 15px;
}
.block-title {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-size: 15px;
  text-transform: uppercase;
  color: #00796B;
}
.block-title hr {
  margin-top: 3px;
  margin-bottom: 0px;
  color: lightgrey;
  border-top: 1px solid #00796B;
}
.modal-block-separator {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "PT Sans Bold";
  font-size: 13px;
  text-transform: uppercase;
  color: #006064;
  border-bottom: 1px solid #BDBDBD;
}
.fa.big {
  font-size: 40px;
  color: #BDBDBD;
  line-height: 100px;
  box-sizing: border-box;
}
.result-message {
  height: 100px;
  line-height: 100px;
  box-sizing: border-box;
}
