/**********
** FONTS
*********/
@font-face {
  font-family: "PT Sans";
  src: url("/clientside/resources/fonts/PT_Sans-Web-Regular.ttf");
}
@font-face {
  font-family: "PT Sans Bold";
  src: url("/clientside/resources/fonts/PT_Sans-Web-Bold.ttf");
}
@font-face {
  font-family: "PT Sans Italic";
  src: url("/clientside/resources/fonts/PT_Sans-Web-Italic.ttf");
}
html,
body {
  max-height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
#app-header {
  position: fixed;
  z-index: 6;
  width: 100%;
  padding-left: 10px;
  padding-right: 25px;
  background: #006064;
  box-sizing: border-box;
}
#app-header #menu-button {
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
}
#app-header #menu-button .fa {
  font-size: 25px;
  line-height: 50px;
  color: white;
}
#app-header .caption {
  display: inline-block;
  float: left;
  height: 70px;
  margin-right: 20px;
  line-height: 65px;
  font-family: "PT Sans Bold";
  font-size: 22px;
  font-weight: bold;
  color: white;
}
#app-header a {
  display: inline-block;
  float: left;
  height: 70px;
  line-height: 70px;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #E3F2FD;
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
}
#app-header a:hover {
  color: #E3F2FD;
}
#app-header a.active {
  color: #90CAF9;
  border-bottom: 3px solid #90CAF9;
}
#app-header a .fa {
  margin-right: 3px;
}
#app-header .menu-item {
  overflow: visible;
  position: relative;
  display: inline-block;
  float: left;
  height: 70px;
  box-sizing: border-box;
}
#app-header .menu-item.active a {
  border-bottom: 3px solid #90CAF9 !important;
}
#app-header .menu-item:hover a {
  background: #00796B;
  border-bottom: 3px solid transparent !important;
}
#app-header .menu-item:hover .container {
  display: inline-block;
}
#app-header .menu-item:hover .container a {
  background: #00695C;
}
#app-header .menu-item a {
  display: block;
  height: 70px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  line-height: 70px;
  box-sizing: border-box;
  border-bottom: 3px solid transparent !important;
}
#app-header .menu-item a:hover {
  background: #00796B;
}
#app-header .menu-item .container {
  position: relative;
  display: none;
  overflow: visible;
  z-index: 5;
  min-width: 100%;
  background: #00695C;
  box-sizing: border-box;
}
#app-header .menu-item .container .menu-item {
  display: block;
  float: none !important;
  height: 50px;
  box-sizing: border-box;
}
#app-header .menu-item .container .menu-item.active a {
  color: #90CAF9 !important;
}
#app-header .menu-item .container .menu-item a {
  position: relative;
  display: block !important;
  float: none !important;
  min-width: 100% !important;
  height: 50px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  line-height: 50px !important;
  box-sizing: border-box;
}
#app-header .menu-item .container .menu-item a:hover {
  background: #004D40;
}
#app-content {
  overflow: auto;
  position: absolute;
  left: 0px;
  top: 70px;
  right: 0px;
  bottom: 0px;
  min-width: 1400px;
  box-sizing: border-box;
  background: #EEEEEE;
  border: 1px solid green;
  /*
  #app-content-wrapper {
    overflow: visible;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    //border: 1px solid blue;
  }
  */
  /* VIOLATIONS */
}
#app-content #divisions {
  width: 420px;
  box-sizing: border-box;
}
#app-content #violations {
  margin-left: 430px;
  box-sizing: border-box;
  border-left: 1px solid lightgray;
}
#app-content #violations.stretched {
  margin-left: 0px !important;
}
#app-content #violations .content {
  padding: 0px;
}
#app-content #violations.stretched {
  margin-left: 0px !important;
}
#app-content #violations .content {
  padding: 0px;
}
/* Target landscape smartphones, portrait tablets, narrow desktops */
@media screen and (min-width: 320px) and (max-width: 800px) {
  #app-header {
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #app-header #menu-button {
    display: block;
    float: left;
  }
  #app-header .menu-item {
    display: none;
  }
  #app-content #divisions {
    display: none;
  }
  #app-content #violations {
    margin-left: 0px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1400px) {
  #app-header {
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #app-header #menu-button {
    display: block;
  }
  #app-header .menu-item {
    display: none;
  }
  #app-content #divisions {
    display: none;
  }
  #app-content #violations {
    margin-left: 0px;
  }
  /* VIOLATIONS */
}
