/**********
** FONTS
*********/
@font-face {
  font-family: "PT Sans";
  src: url("/clientside/resources/fonts/PT_Sans-Web-Regular.ttf");
}
@font-face {
  font-family: "PT Sans Bold";
  src: url("/clientside/resources/fonts/PT_Sans-Web-Bold.ttf");
}
@font-face {
  font-family: "PT Sans Italic";
  src: url("/clientside/resources/fonts/PT_Sans-Web-Italic.ttf");
}
html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: "PT Sans";
  background: #EEEEEE;
}
#app-mobile-menu-container {
  overflow: hidden;
  display: block;
  position: fixed;
  left: -200px;
  top: 50px;
  bottom: 0px;
  width: 200px;
  z-index: 7;
  background: transparent;
  transition: background 200ms 300ms linear;
  transition: left 300ms linear;
}
#app-mobile-menu-container.opened {
  left: 0px;
  right: 0px;
  width: auto;
}
#app-mobile-menu-container #app-mobile-menu {
  z-index: 9;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 200px;
  background: #00695C;
  transition: left 0.2s linear;
}
#app-mobile-menu-container #app-mobile-menu .user {
  height: 100px;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
  font-family: "PT Sans Bold";
  color: white;
  background: rgba(0, 0, 0, 0.2);
}
#app-mobile-menu-container #app-mobile-menu .menu-item {
  display: block;
  height: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 3px solid transparent;
}
#app-mobile-menu-container #app-mobile-menu .menu-item:hover {
  background: #00796B;
}
#app-mobile-menu-container #app-mobile-menu .menu-item.active {
  background: #004D40;
  border-left: 3px solid #90CAF9;
}
#app-mobile-menu-container #app-mobile-menu .menu-item a {
  text-decoration: none;
  color: white;
}
#app-mobile-menu-container .empty-space {
  position: absolute;
  left: 200px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
}
#app-header {
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 80px;
  padding-right: 10px;
  background: #006064;
}
#app-header .menu-button {
  display: none;
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}
#app-header .menu-button .fa {
  font-size: 25px;
  line-height: 50px;
  color: white;
}
#app-header .caption {
  display: inline-block;
  float: left;
  height: 80px;
  margin-right: 20px;
  padding-left: 10px;
  line-height: 75px;
  font-family: "PT Sans Bold";
  font-size: 22px;
  font-weight: bold;
  color: white;
}
#app-header a {
  display: inline-block;
  float: left;
  height: 80px;
  line-height: 80px;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #E3F2FD;
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
}
#app-header a:hover {
  color: #E3F2FD;
}
#app-header a.active {
  color: #90CAF9;
  border-bottom: 3px solid #90CAF9;
}
#app-header a .fa {
  margin-right: 3px;
}
#app-header .dropdown-menu {
  display: inline-block;
  overflow: visible;
  z-index: 2;
  position: relative;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
  font-size: 13px;
  line-height: 80px;
  text-transform: uppercase;
  color: white;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
}
#app-header .dropdown-menu:hover {
  background: #00796B;
}
#app-header .dropdown-menu:hover .dropdown-menu {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
#app-header .dropdown-menu .dropdown-menu {
  display: block;
  position: relative;
  overflow: hidden;
  float: left;
  min-width: 100%;
  height: 80px;
  margin-left: -10px;
  margin-right: 0px !important;
  box-sizing: border-box;
  background: #00695C;
}
#app-header .dropdown-menu .dropdown-menu a {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  padding-right: 20px !important;
  padding-left: 20px !important;
  margin-left: -10px;
  margin-right: -20px;
  line-height: 80px;
  text-align: left;
  box-sizing: border-box;
}
#app-header .dropdown-menu .dropdown-menu a:hover {
  background: #004D40;
}
#app-header .menu-item {
  overflow: visible;
  position: relative;
  display: inline-block;
  float: left;
  height: 80px;
  box-sizing: border-box;
}
#app-header .menu-item.active a {
  border-bottom: 3px solid #90CAF9 !important;
}
#app-header .menu-item:hover a {
  background: #00796B;
  border-bottom: 3px solid transparent !important;
}
#app-header .menu-item:hover .container {
  display: inline-block;
}
#app-header .menu-item:hover .container a {
  background: #00695C;
}
#app-header .menu-item a {
  display: block;
  height: 80px;
  padding-left: 20px !important;
  padding-right: 20px   !important;
  box-sizing: border-box;
  border-bottom: 3px solid transparent !important;
}
#app-header .menu-item a:hover {
  background: #00796B;
}
#app-header .menu-item .container {
  position: relative;
  display: none;
  overflow: visible;
  z-index: 5;
  min-width: 100%;
  background: #00695C;
  box-sizing: border-box;
}
#app-header .menu-item .container .menu-item {
  display: block;
  float: none !important;
  height: 50px;
  box-sizing: border-box;
}
#app-header .menu-item .container .menu-item.active a {
  color: #90CAF9 !important;
}
#app-header .menu-item .container .menu-item a {
  position: relative;
  display: block !important;
  float: none !important;
  min-width: 100% !important;
  height: 50px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  line-height: 50px !important;
  box-sizing: border-box;
}
#app-header .menu-item .container .menu-item a:hover {
  background: #004D40;
}
#app-content {
  z-index: 4;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  margin-top: 80px;
  padding: 10px;
  box-sizing: border-box;
}
#app-content .block {
  background: white;
  box-shadow: 0px 3px 5px 0 rgba(174, 174, 174, 0.5);
}
#app-content .block .block-caption-title {
  display: inline-block;
  height: 55px;
  padding: 10px;
  font-size: 17px;
  color: #4f6173;
  font-weight: bold;
  line-height: 35px;
}
#app-content .block .block-caption-title .extend {
  margin-left: -10px;
}
#app-content .block .header {
  height: 35px;
  padding: 10px;
  font-size: 17px;
  color: #4f6173;
  font-weight: bold;
  line-height: 35px;
  border-bottom: 1px solid #eceeef;
}
#app-content .block .header .collapse {
  margin-right: -10px;
}
#app-content .block .header label {
  font-weight: normal !important;
}
#app-content .block .header .upload-progress {
  font-weight: normal;
  float: right;
  line-height: 35px;
  font-size: 15px;
}
#app-content .result-message {
  height: 100px;
  line-height: 100px;
  box-sizing: border-box;
}
#app-content .violation-notification {
  color: #FF5722;
}
#app-content .violation-notification .fa {
  margin-right: 0px !important;
  color: #FF5722;
}
#app-content .attachment-notification {
  color: #009688;
}
#app-content .attachment-notification .fa {
  color: #009688;
}
.block-title {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-size: 15px;
  text-transform: uppercase;
  color: #00796B;
}
.block-title hr {
  margin-top: 3px;
  margin-bottom: 0px;
  color: lightgrey;
  border-top: 1px solid #00796B;
}
.modal-block-separator {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "PT Sans Bold";
  font-size: 13px;
  text-transform: uppercase;
  color: #006064;
  border-bottom: 1px solid #BDBDBD;
}
.form-error {
  color: red;
}
#users {
  display: block;
  margin-right: 310px;
}
#users .filter-label {
  vertical-align: middle !important;
}
#users-filter {
  display: block;
  float: right;
  width: 300px;
}
.filter-label {
  display: inline-block;
  height: 17px;
  margin-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 17px;
  font-size: 11px;
  vertical-align: top;
  background: #FFE0B2;
}
.filter-label .fa {
  cursor: pointer;
  color: #F57C00;
}
.filter-label .fa:hover {
  color: #E65100;
}
#help {
  margin-right: 410px;
}
#help-navigation {
  float: right;
  width: 400px;
}
#help-navigation ol li {
  padding-bottom: 8px;
  line-height: 15px;
}
/* Смартфоны */
@media screen and (min-width: 320px) and (max-width: 800px) {
  #app-header {
    height: 50px;
  }
  #app-header .menu-button {
    display: block;
  }
  #app-header .caption {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
  }
  #app-header .menu-item {
    display: none;
  }
  #app-mobile-menu-container #app-mobile-menu {
    display: block;
  }
  #app-content {
    margin-top: 50px;
    padding: 0px;
  }
  table tbody td {
    max-height: 50px !important;
  }
  #filters {
    display: none !important;
  }
}
/* Планшеты */
@media screen and (min-width: 800px) and (max-width: 1400px) {
  #app-header {
    height: 50px;
  }
  #app-header .menu-button {
    display: block;
  }
  #app-header .caption {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
  }
  #app-header .menu-item {
    display: none;
  }
  #app-mobile-menu {
    display: block;
  }
  #app-content {
    margin-top: 50px;
    padding: 10px;
  }
}
