#new-user,
#edit-user {
  width: 1200px;
  height: 400px;
}
#new-user #user-info,
#edit-user #user-info {
  float: left;
  width: 700px;
  margin-right: 10px;
  box-sizing: border-box;
}
#new-user #user-permissions,
#edit-user #user-permissions {
  float: left;
  width: 490px;
  box-sizing: border-box;
}
#new-user #user-permissions .content,
#edit-user #user-permissions .content {
  padding: 0px;
}
#new-user #user-permissions #current-violation-files .attachment,
#edit-user #user-permissions #current-violation-files .attachment {
  transition: 0.7s ease all;
  -webkit-transition: 0.7s linear all;
}
#new-user #user-permissions #current-violation-files .attachment .attachment-message,
#edit-user #user-permissions #current-violation-files .attachment .attachment-message {
  display: none;
  font-size: 20px;
  line-height: 14px;
  text-align: center;
  color: #1B5E20;
}
#new-user #user-permissions #current-violation-files .attachment .attachment-message .fa,
#edit-user #user-permissions #current-violation-files .attachment .attachment-message .fa {
  font-size: 25px;
  line-height: 14px;
}
#new-user #user-permissions #current-violation-files .attachment .attachment-loaded,
#edit-user #user-permissions #current-violation-files .attachment .attachment-loaded {
  display: table-cell;
}
#new-user #user-permissions #current-violation-files .attachment.ng-enter,
#edit-user #user-permissions #current-violation-files .attachment.ng-enter {
  background: #81C784;
}
#new-user #user-permissions #current-violation-files .attachment.ng-enter .attachment-message,
#edit-user #user-permissions #current-violation-files .attachment.ng-enter .attachment-message {
  display: table-cell;
}
#new-user #user-permissions #current-violation-files .attachment.ng-enter .attachment-loaded,
#edit-user #user-permissions #current-violation-files .attachment.ng-enter .attachment-loaded {
  display: none;
}
#new-user #user-permissions #current-violation-files .attachment.ng-enter.ng-enter-active,
#edit-user #user-permissions #current-violation-files .attachment.ng-enter.ng-enter-active {
  background: #C8E6C9;
}
