#left-column {
  overflow: auto;
  float: left;
  width: 420px;
}
#filter {
  float: right;
  width: 770px;
  box-sizing: border-box;
}
#filter .no-date {
  color: gray;
}
#divisions {
  float: left;
  width: 420px;
  box-sizing: border-box;
}
#violations {
  float: right;
  width: 770px;
  box-sizing: border-box;
  border-left: 1px solid lightgray;
}
#violations .content {
  padding: 0px;
}
.violation {
  overflow: auto;
  border-bottom: 1px solid lightgray;
}
.violation .fa {
  color: #757575;
}
.violation .caption {
  overflow: auto;
  padding: 10px;
  background: #FAFAFA;
}
.violation .caption .id {
  display: inline-block;
  float: right;
  font-size: 14px;
  color: #9E9E9E;
}
.violation .caption .date {
  display: inline-block;
  float: left;
  font-size: 14px;
  color: #9E9E9E;
}
.violation .caption .author {
  display: inline-block;
  float: right;
  font-size: 14px;
  color: #9E9E9E;
}
.violation .body {
  padding: 10px;
  font-style: italic;
  border-left: 1px solid #FAFAFA;
  border-right: 1px solid #FAFAFA;
}
table {
  font-size: 14px;
  color: black;
}
table tr:hover {
  background: #E0F2F1 !important;
}
table td {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
table thead th {
  background: #B2DFDB !important;
  cursor: default;
}
table tfoot td {
  cursor: default;
}
table tfoot td {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background: #B2DFDB;
  font-weight: bold;
}
table tfoot td.buttoned {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  color: white;
  font-size: 17px;
  font-weight: normal;
  background: #42A5F5;
}
table tfoot td.buttoned:hover {
  background: #1976D2;
}
.controls {
  background: #DCEDC8;
  box-shadow: 0px 3px 5px 0 rgba(174, 174, 174, 0.5);
}
.violation-notification {
  color: #FF5722;
}
.violation-notification .fa {
  margin-right: 0px !important;
  color: #FF5722;
}
.attachment-notification {
  color: #009688;
}
.attachment-notification .fa {
  color: #009688;
}
.new-violation-mark {
  height: 18px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  background: #FF9800;
  color: white;
}
.new-attachment-mark {
  height: 18px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  background: #009688;
  color: white;
}
.mdash {
  height: 30px;
  line-height: 30px;
  color: lightgray;
}
/*** Filters ***/
.filter-label {
  display: inline-block;
  height: 17px;
  margin-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 17px;
  font-size: 11px;
  vertical-align: top;
  background: #FFE0B2;
}
.filter-label .fa {
  cursor: pointer;
  color: #F57C00;
}
.filter-label .fa:hover {
  color: #E65100;
}
#filters {
  position: relative;
  overflow: hidden;
  height: 85px;
  border: none;
}
.filter-tabs {
  position: absolute;
  overflow: visible;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  clear: both;
  height: 30px;
  margin-bottom: -1px;
  padding-left: 10px;
}
.filter-tabs .filter-tab {
  position: relative;
  display: inline-block;
  z-index: 3;
  float: left;
  height: 25px;
  margin-top: 6px;
  margin-right: 5px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 24px;
  color: darkgrey;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  cursor: pointer;
}
.filter-tabs .filter-tab:hover {
  color: black;
}
.filter-tabs .filter-tab.active {
  font-weight: bold;
  color: black;
  border-bottom: 1px solid white;
}
.filter-content {
  position: relative;
  top: 30px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  z-index: 1;
  clear: both;
  height: 55px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid lightgrey;
}
